# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (regenerated at runtime)
database/*.db
database/*.mmdb

# Logs
service_logs/*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Docker
.dockerignore

# Environment variables
.env
